@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;600&display=swap");
h2 {
  font-size: 32px;
  font-weight: 600;
  color: #224992;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono", monosapce;
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-color: #224992;
  display: flex;
}

h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 400px) {
  .close.narrow {
    width: 0;
  }
  .close.narrow .arrow, .close.narrow aside, .close.narrow footer {
    opacity: 0;
  }
  .close.narrow ~ main {
    width: 100%;
    left: 0;
    z-index: 5;
  }
}
@media (min-width: 200px) {
  .close {
    width: 80px;
    overflow: visible;
  }
  .close span {
    opacity: 0;
    pointer-events: none;
  }
  .close img {
    display: none;
  }
  nav {
    width: 350px;
    padding-top: 5%;
    background-color: #ffd302;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 5;
  }
  nav aside {
    min-width: 80px;
    height: 50px;
    background-image: url("../img/lg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.3s ease-in;
  }
  nav .arrow {
    min-width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    transition: all 0.3s ease-in;
  }
  nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: flex-start;
  }
  nav ul ::-webkit-scrollbar {
    display: none;
  }
  nav ul li {
    width: 100%;
    list-style-type: none;
    position: relative;
  }
  nav ul a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #224992;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  nav ul a:hover {
    box-shadow: inset -4px 0px 8px -3px rgba(0, 0, 0, 0.4);
    background-color: #ffc815;
  }
  nav ul a span {
    font-size: 20px;
  }
  nav footer {
    width: 100%;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }
  nav span {
    font-weight: 600;
    transition: all 0.4s ease;
  }
  main {
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
  }
  main h4 {
    text-align: center;
  }
  main header {
    width: 100%;
    display: flex;
    justify-content: left;
  }
  main i {
    padding: 15px;
    color: #ffd302;
    font-size: 28px;
    cursor: pointer;
  }
  main > section {
    width: 90%;
    padding: 5% 3%;
    border-radius: 3vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  main h2 {
    font-size: 18pt;
    text-align: center;
  }
  nav ~ main {
    left: 0;
    width: calc(100% - 80px);
  }
  .top {
    top: 0;
    right: 5px;
    width: 50px;
    height: 30px;
    background-color: #ffd302;
    font-weight: 600;
    font-size: 16px;
    color: #224992;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    border-radius: 0 0 1vh 1vh;
    box-shadow: 1px 2px 4px -3px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .about {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .about p {
    text-align: center;
  }
  .about article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    color: whitesmoke;
  }
  .about article:last-child {
    row-gap: 1vh;
  }
  .about img {
    width: 80%;
    filter: invert(1);
  }
  .about a {
    width: 15vh;
    padding: 1%;
    border: 3px solid #ffd302;
    font-size: 16px;
    color: #ffd302;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exp {
    row-gap: 3vh;
  }
  .exp article {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .exp figure {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .exp figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .exp img {
    width: 15vh;
  }
  .lang {
    row-gap: 5vh;
  }
  .lang article {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: flex-start;
  }
  .lang article ul {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
  }
  .lang article li {
    width: 100%;
    display: flex;
    text-transform: capitalize;
  }
  .lang .eng li:first-child, .lang .kor li:first-child {
    font-weight: 600;
  }
  .lang .eng aside:first-child, .lang .kor aside:first-child {
    height: 3vh;
    background-color: #1597d5;
  }
  .lang .eng aside:last-child, .lang .kor aside:last-child {
    background-color: #ddd;
  }
  .lang .eng aside:first-child {
    width: 50%;
  }
  .lang .eng aside:last-child {
    width: 50%;
  }
  .lang .kor aside:first-child {
    width: 100%;
  }
  .works {
    width: 90%;
    padding: 0;
    padding-bottom: 10%;
    border-radius: 0;
    background-color: transparent;
    position: relative;
  }
  .works h2 {
    color: #ffd302;
  }
  .gal {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 1vh;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .gal aside {
    width: 100%;
    height: 700px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: scroll;
  }
  .gal img {
    max-width: 100%;
  }
  .slide {
    -webkit-animation: slides 1.5s ease;
            animation: slides 1.5s ease;
  }
  @-webkit-keyframes slides {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slides {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .prev, .next {
    top: 50%;
    padding: 16px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    transition: 0.4s ease;
    position: absolute;
    z-index: 4;
    cursor: pointer;
  }
  .prev:hover, .next:hover {
    background-color: black;
  }
  .prev {
    left: 0;
    border-radius: 0 30px 30px 0;
  }
  .next {
    right: 0;
    border-radius: 30px 0 0 30px;
  }
}
@media (min-width: 600px) {
  .top {
    top: 30%;
    right: 0;
    height: 50px;
    border-radius: 1vh 0 0 1vh;
  }
  .about img {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .about img {
    width: 40%;
  }
  .exp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exp article {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .exp h2 {
    width: 100%;
  }
  .exp figure {
    width: 30%;
  }
  .lang {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .lang h2 {
    width: 100%;
  }
  .lang article {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */