@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;600&display=swap');

$defaultFont: 'Martian Mono', monosapce;
$darkTurq: #439A97;
$medTurq: #62B6B7;
$lightTurq: #97DECE;
$brightTurq: #CBEDD5;

h2 {
    font-size: 32px;
    font-weight: 600;
}