@media (max-width: 400px){
    .close.narrow {
        width: 0;
        .arrow, aside, footer {
            opacity: 0;
        }
    }
    .close.narrow ~ main {
        width: 100%;
        left: 0;
        z-index: 5;
    }
}
@media (min-width: 200px){
    // sidebar
    .close {
        width: 80px;
        overflow: visible;
        span {
            opacity: 0;
            pointer-events: none;
        }
        img {
            display: none;
        }
    }
    nav {
        width: 350px;
        padding-top: 5%;
        background-color: $goldYellow;
        @include flexVertical(5vh, flex-start);
        justify-content: space-between;
        transition: all 0.5s ease;
        z-index: 5;
        aside {
            min-width: 80px;
            height: 50px;
            @include bgImg('../img/lg.png', contain);
            transition: all 0.3s ease-in;
        }
        .arrow {
            min-width: 80px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            transition: all 0.3s ease-in;
        }
        ul {
            width: 100%;
            height: 100%;
            @include flexVertical(0, flex-start);
            ::-webkit-scrollbar {
                display: none;
            }
            li {
                width: 100%;
                list-style-type: none;
                position: relative;
            }
            a {
                display: flex;
                align-items: center;
                @include links;
                transition: all 0.3s ease;
                &:hover {
                    box-shadow: inset -4px 0px 8px -3px rgba(0,0,0,.4);
                    background-color: $darkYellow;
                }
                span {
                    font-size: 20px;
                }
            }
        }
        footer {
            width: 100%;
            min-height: 240px;
            @include flexVertical(0, flex-end);
            justify-content: flex-end;
            font-size: 14px;
            writing-mode: vertical-rl;
            text-orientation:sideways-right;
        }
        span {
            font-weight: 600;
            transition: all 0.4s ease;
        }
    }
    main {
        width: calc(100% - 350px);
        @include flexVertical(5vh);
        position: relative;
        transition: all 0.5s ease;
        h4 {
            text-align: center;
        }
        header {
            width: 100%;
            display: flex;
            justify-content: left;
        }
        i {
            padding: 15px;
            color: $goldYellow;
            font-size: 28px;
            cursor: pointer;
        }
        > section {
            width: 90%;
            padding: 5% 3%;
            border-radius: 3vh;
            background-color: whitesmoke;
            @include flexVertical;
        }
        h2 {
            font-size: 18pt;
            text-align: center;
        }
    }
    nav ~ main {
        left: 0;
        width: calc(100% - 80px);
    }
    .top {
        top: 0;
        right: 5px;
        width: 50px;
        height: 30px;
        background-color: $goldYellow;
        font-weight: 600;
        @include links;
        @include flexCenter;
        position: fixed;
        text-align: center;
        border-radius: 0 0 1vh 1vh;
        box-shadow: 1px 2px 4px -3px rgba(0,0,0,.4);
        z-index: 10;
    }
    // sections
    .about {
        background-color: transparent;
        @include flexVertical(5vh);
        p {
            text-align: center;
        }
        article {
            @include flexVertical;
            color: whitesmoke;
            &:last-child {
                row-gap: 1vh;
            }
        }
        img {
            width:80%;
            filter: invert(1);
        }
        a {
            width: 15vh;
            padding: 1%;
            border: 3px solid $goldYellow;
            @include links(16px, $goldYellow);
            @include flexCenter;
        }
    }
    .exp {
        article {
            @include flexVertical(5vh);
        }
        row-gap: 3vh;
        figure {
            @include flexVertical(5vh);
        }
        figcaption {
            @include flexVertical;
        }
        img {
            width: 15vh;
        }
    }
    .lang {
        row-gap: 5vh;
        article {
            width: 100%;
            @include flexVertical(3vh, flex-start);
            ul {
                width: 100%;
                font-size: 14px;
                @include flexVertical(1vh, flex-start);
            }
            li {
                width: 100%;
                display: flex;
                text-transform: capitalize;
            }
        }
        .eng, .kor {
            li:first-child {
                font-weight: 600;
            }
            aside:first-child {
                height: 3vh;
                background-color: $medBlue;
            }
            aside:last-child {
                background-color: #ddd;
            }
        }
        .eng {
            aside:first-child {
                width: 50%;
            }
            aside:last-child {
                width: 50%;
            }
        }
        .kor {
            aside:first-child {
                width: 100%;
            }
        }
    }
    // gallery
    .works {
        width: 90%;
        padding: 0;
        padding-bottom: 10%;
        border-radius: 0;
        background-color: transparent;
        position: relative;
        h2 {
            color: $goldYellow;
        }
    }
    .gal {
        width: 100%;
        background-color: whitesmoke;
        border-radius: 1vh;
        display: flex;
        overflow: hidden;
        position: relative;
        aside {
            width: 100%;
            height: 700px;
            display: none;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: scroll;
        }
        img {
            max-width: 100%;
        }
    }
    .slide {
        animation: slides 1.5s ease;
    }
    @keyframes slides {
        from{
            opacity: .4;
        }to{
            opacity: 1;
        }
    }
    .prev, .next {
        top: 50%;
        padding: 16px;
        color: whitesmoke;
        background-color: rgba(0,0,0,.6);
        display: block;
        transition: .4s ease;
        position: absolute;
        z-index: 4;
        cursor: pointer;
        &:hover {
            background-color: black;
        }
    }
    .prev {
        left: 0;
        border-radius: 0 30px 30px 0;
    }
    .next {
        right: 0;
        border-radius: 30px 0 0 30px;
    }
}